extends layout

block content
  div(class="category-header")=title

  form(method='POST' action='')
    div.form-group
      label(for='category_name' class='label') Category:
      input#category_name.form-control(type='text' name='category_name' required='true' value=(undefined===category ? '' : category.name) )
      label(for='category_description' class='label') Category Description:
      input#category_description.form-control(type='text' name='category_description' required='true' value=(undefined===category ? '' : category.description))
    div(class='button-row')
      button.btn.btn-primary(type='submit') Submit
  if errors
    ul
      for error in errors
        li!= error.msg