extends layout

block content

  div(class="category-header")=title

  div(class="category-description") #[strong description:] #{item.description}

  hr

  div(class="row")
    div(class="row-attributes")
      a(href=item.url+'/delete') Delete Item
    div(class="row-attributes")
      a(href=item.url+'/update') Update Item