doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="nav-bar") Mountain Bike Builder

    div(class="main-content")
      block content
